@model Sorgu.Lib.BaseType.Result<List<Sorgu.Lib.Entity.ResponseModel>>
@{
    Layout = "~/Views/_Layout.cshtml";
    Sorgu.Lib.Entity.ResponseModel firstRow = (Model != null ? Model.Response.FirstOrDefault() : null);
}

@section bread{
    @*<nav class="breadcrumb">
        <a class="breadcrumb-item" href="/FileQuery/Index">Yeni Sorgu</a>
        &nbsp;/&nbsp;
        <span class="breadcrumb-item active">Detay</span>
    </nav>*@
}

@if (Model == null || (Model.Success == true & Model.Response.Count<=0))
{
    <div class="alert alert-danger" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Dosya bulunamadı</h4>
        <br /><button type="button" class="btn btn-lg" style="background-color:#eb1c74;border-color:#eb1c74;color:white;" onclick="window.location='/FileQuery/Index'">Yeni sorgulama</button></center>
    </div>
}
else if (Model.Success == false)
{
    <div class="alert alert-danger" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;">
        <center>
            <h4>@Model.Message</h4>
            <br /><button type="button" class="btn btn-lg" style="background-color:#eb1c74;border-color:#eb1c74;color:white;" onclick="window.location='/FileQuery/Index'">Yeni sorgulama</button>
        </center>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="table-responsive table-striped table-bordered table-sm">
            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h3>Dosya Bilgileri</h3></center></div>
            <div class="alert alert-warning">
                <center><h4><b>Dosya Durumu : @firstRow.FileStateName</b></h4></center>
                <center>
                    <div class="alert alert-danger">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:300px;font-weight:bold;">Evrak</td>
                                <td style="width:150px;font-weight:bold;">Talep Tarihi</td>
                                <td style="width:150px;font-weight:bold;">Geliş Tarihi</td>
                                <td style="font-weight:bold;">Açıklama</td>
                            </tr>
                            @foreach (var itemMD in firstRow.MissingDocumentList)
                            {
                                <tr>
                                    <td>@itemMD.EvrakAdi</td>
                                    <td>@itemMD.Tarih.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@((itemMD.KapanisTarihi.HasValue ? itemMD.KapanisTarihi.Value.ToString("dd.MM.yyyy") : "-"))</td>
                                    <td>@itemMD.Aciklama</td>
                                </tr>
                            }
                        </table>
                    </div>
                </center>
            </div>
            <table class="table">
                <tr>
                    <td class="font-weight-bold col-md-3">Dosya No</td>
                    <td>@firstRow.FileNumber</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Branş</td>
                    <td>@firstRow.PolicyTypeName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Poliçe No</td>
                    <td>@firstRow.PolicyNumber</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Poliçe Başlangıç Tarihi</td>
                    <td>@firstRow.PolicyBeginDate</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Poliçe Bitiş Tarihi</td>
                    <td>@firstRow.PolicyEndDate</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Hasar Tarihi</td>
                    <td>@firstRow.ClaimDate</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Hasar Nedeni</td>
                    <td>@firstRow.ClaimCauseName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Hasar Yeri</td>
                    <td>@firstRow.ClaimCityDistrict</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">İhbar Tarihi</td>
                    <td>@firstRow.InformDate</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Tutanak Tipi</td>
                    <td>@firstRow.InformDocumentTypeName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Muallak Hasar</td>
                    <td>@firstRow.EstimatedDamageAmount.ToString("N2") <span style="color:red;font-weight:bold;">&nbsp; [ Tahmini hasar tutarıdır ]</span></td>
                </tr>
            </table>

            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Sigortalı Bilgileri</h4></center></div>
            <table class="table">
                <tr>
                    <td class="font-weight-bold col-md-3">Sigortalı Adı Soyadı</td>
                    <td>@firstRow.InsuredName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Sigortalı Araç Marka</td>
                    <td>@firstRow.InsuredBrandName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Sigortalı Araç Model</td>
                    <td>@firstRow.InsuredModelName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Sigortalı Araç Model Yılı</td>
                    <td>@firstRow.InsuredModelYear</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Sigortalı Araç Plaka</td>
                    <td>@firstRow.InsuredRegistrationNumber</td>
                </tr>
            </table>

            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Mağdur Bilgileri</h4></center></div>
            <table class="table">
                <tr>
                    <td class="font-weight-bold col-md-3">Mağdur Adı Soyadı</td>
                    <td>@firstRow.SuffererName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Mağdur Araç Marka</td>
                    <td>@firstRow.SuffererBrandName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Mağdur Araç Model</td>
                    <td>@firstRow.SuffererModelName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Mağdur Araç Model Yılı</td>
                    <td>@firstRow.SuffererModelYear</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Mağdur Araç Plaka</td>
                    <td>@firstRow.SuffererRegistrationNumber</td>
                </tr>
            </table>

            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Servis Bilgileri</h4></center></div>
            <table class="table">
                <tr>
                    <td class="font-weight-bold col-md-3">Servis Adı</td>
                    <td>@firstRow.RepairShopName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Servis Telefon</td>
                    <td>@firstRow.RepairShopPhone</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Servis Adres</td>
                    <td>@firstRow.RepairShopAddress</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Anlaşmalı Servis</td>
                    <td>@firstRow.RepairShopContracted</td>
                </tr>
            </table>

            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Eksper Bilgileri</h4></center></div>
            <table class="table">
                <tr>
                    <td class="font-weight-bold col-md-3">Eksper Adı</td>
                    <td>@firstRow.ExpertName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Eksper Telefon</td>
                    <td>@firstRow.ExpertPhone</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Eksper Atanma Tarihi</td>
                    <td>@firstRow.ExpertAssignDate</td>
                </tr>
            </table>

            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Rapor Bilgileri</h4></center></div>
            <table class="table">
                <tr>
                    <td class="font-weight-bold col-md-3">Ön Rapor Gönderim Tarihi</td>
                    <td>@firstRow.PreReportSendDate</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Kati Rapor Gönderim Tarihi</td>
                    <td>@firstRow.ExpertReportSendDate</td>
                </tr>
            </table>

            <div class="alert alert-info" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;"><center><h4>Ödeme Bilgileri</h4></center></div>
            <table class="table">
                @*<tr>
                    <td class="font-weight-bold col-md-3">İnceleme Durum</td>
                    <td>@firstRow.PaymentDecisionMainState</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">İnceleme Alt Durum</td>
                    <td>@firstRow.PaymentDecisionSubState</td>
                </tr>*@
                <tr>
                    <td class="font-weight-bold col-md-3">Ödeme Yapılan Kişi</td>
                    <td>@firstRow.PaymentTargetName @firstRow.PaymentTargetLastName</td>
                </tr>
                <tr>
                    <td class="font-weight-bold col-md-3">Ödeme Durumu</td>
                    <td>
                        @switch (firstRow.PState)
                        {
                            case "T":
                                @:<span>Tahakkuk</span>
                                break;
                            case "I":
                                @:<span>Iptal</span>
                                break;
                            default:
                                @:<span>@firstRow.PState</span>
                                break;
                        }
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold col-md-3">Ödenen Tutar</td>
                <td>@((firstRow.PaymentAmount ?? 0).ToString("N2"))</td>
            </tr>
            <tr>
                <td class="font-weight-bold col-md-3">Ödeme Tarihi</td>
                <td>
                    @if (firstRow.PaymentDate.HasValue)
                    {
                        @:<span>@firstRow.PaymentDate.Value.ToString("dd.MM.yyyy")</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold col-md-3">Ödeme Açıklama</td>
                <td>@firstRow.PDescription</td>
            </tr>
            </table>
        </div>
    </div>
    <center><button type="button" class="btn btn-lg" style="background-color:#eb1c74;border-color:#eb1c74;color:white;" onclick="window.location='/FileQuery/Index'">Yeni sorgulama</button></center>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
