@model HasarOnlineDosyaDurumSorgulamaWeb.Models.FileQueryModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

@section bread{
    @*<nav class="breadcrumb">
            <span class="breadcrumb-item active">Sorgu Giriş Ekranı</span>
        </nav>*@
}

<div class="alert alert-warning" style="background-color:#f6f6f6;border-color:#f6f6f6;color:black;">
    <ul>
        @*<li>Dosya durumunuzu öğrenmek için lütfen aşağıdaki bilgilerden en az üçünü giriniz.</li>*@
        <li>Dosya durumunuzu öğrenmek için lütfen aşağıdaki bilgileri giriniz.</li>
        <li>Online'dan dosya durum sorgulamayı sadece <b>Trafik</b> ve <b>Kasko</b> hasarlarınız için yapabilirsiniz. Diğer hasar dosyalarınızın durumunu öğrenmek için <b>0850 755 1 755</b> Hasar Bildirim hattından bilgi alabilirsiniz.</li>
    </ul>
</div>

<form action="/FileQuery/Index" id="frmfile" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-5">
        <div class="form-group">
            <label>Hasar Dosya Numarası</label>
            <input type="text" class="form-control" name="FileNumber" placeholder="Hasar dosya numaranızı giriniz">
            @Html.ValidationMessageFor(x => x.FileNumber, "", new { @style = "color:red" })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <span id="GetVictims" style="font-size: 3em; color: tomato; cursor: pointer;" title="Mağdur Listele">
                <i class="fas fa-angle-double-right"></i>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" style="">
            <label>Mağdur Numarası</label>
            @Html.DropDownListFor(model => model.SuffererNumber, Enumerable.Empty<SelectListItem>(), "Lütfen Mağdur Seçiniz", new { @class = "form-control", @disabled = "disabled"})
            @Html.ValidationMessageFor(x => x.SuffererNumber, "", new { @style = "color:red" })
        </div>        
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Araç Plakası</label>
            <input type="text" class="form-control" name="RegNumber" placeholder="Araç plakanızı giriniz">
            @Html.ValidationMessageFor(x => x.RegNumber, "", new { @style = "color:red" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Kimlik Numarası / Vergi Numarası</label>
            <input type="text" class="form-control" name="IdentNumber" placeholder="Kimlik numaranızı veya vergi numaranızı giriniz">
            @Html.ValidationMessageFor(x => x.IdentNumber, "", new { @style = "color:red" })
        </div>
    </div>
    <center>
        <button type="submit" class="btn btn-lg" style="background-color:#eb1c74;border-color:#eb1c74;color:white;">Sorgula</button>
    </center>
</form>

@section scripts{
    <script src="https://kit.fontawesome.com/baad5ef81d.js" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(document).ready(function () {
        debugger;
            // Dosya numarası girildikten sonra dosyanın mağdurlarını doldurur.
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetVictimListByFileNumber", "FileQuery")',
                data: { FileNumber:  },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success:
                    function (data) {
                        let output = data.map(x => "<option value='" + x.ID + "'>" + x.FullName + "</option>");
                        $("#SuffererNumber").html('<option value="-1">Lütfen Mağdur Seçiniz</option>');
                        $("#SuffererNumber").append(output.join(' '));
                    },
                error:
                    function (data) {
                        alert("Error: " + data);
                    }
        });

    });
    </script>
}